#wordpress
wp-admin/
wp-includes/
wp-content/languages
wp-content/plugins
wp-content/themes/twentyfifteen
wp-content/themes/twentyfifteen-child
wp-content/themes/sparrowtemplate
wp-content/themes/sparrow
wp-content/themes/README.md
index.php
license.txt
.htaccess
readme.html
wp-*.php
xmlrpc.php

#phpstorm
.idea